/* Apply a background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

/* Custom header styling */
header {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Style the navigation menu */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Custom section styling */
section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

img {
    width: 300px;
    height: auto;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #4682b4;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}